body{
  background: #000;
  background-image: url('https://wallpapertag.com/wallpaper/full/a/c/3/345288-large-camo-background-3000x1500.jpg');
  background-attachment: fixed;
  color: white
}

header {
  background: #000;
  display: flex;
 justify-content: center;
  height: 100px;
  font-size: 40px;
  align-items: center;
}

footer {
  background: #000;
  height: 30px;
  text-align: center;
}

.gun-container{
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px
}

.each-gun{
  display: flex;
  
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  width: 50%;
}

.the-pic {
  margin-right: 20px;
}

.sale-a-gun{
display: flex;
flex-direction: column;
justify-content: space-evenly;

align-content: center;

 
}

.top-row{
  display: flex;
	justify-content: space-evenly;
  padding: 10px;
}

.top-row input{
  height: 30px;
  width: 200px;
  background-color: gray;
}

.top-row input::placeholder{
  color: #000;
  font-size: 15px;
}

.bottom-row{
  display: flex;
	justify-content: space-evenly;
  padding: 10px;
}

.bottom-row input{
  height: 30px;
  width: 200px;
  background-color: gray;
}

.bottom-row input::placeholder{
  color: #000;
  font-size: 15px;
}

.category-row{
  display: flex;
	justify-content: space-evenly;
  padding: 10px;
}

.category-row input{
  height: 30px;
  width: 200px;
  background-color: gray;
}

.category-row input::placeholder{
  color: #000;
  font-size: 15px;
}


.div-post-button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
}

.post-button{
  background-color: red;
  height: 30px;
  width: 100px;
  font-size: 20px;
}

.edit-button{
  background-color: red;
}

.delete-button{
  background-color: red;
}

.confirm-button{
  background-color: red;
}

.for-sale{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h1{
  text-align: center
}

.g-f-s{
  font-size: 60px;
}

input{
  outline-color: red;
  font-size: inherit;
}